{% extends 'encuesta/index.html.twig' %}

    {% block title %}
        Sorteos Ganados
    {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

{% block body_tag %}{% endblock %}
    {% block sorteo_active %}active{% endblock %}
    {% block body_content %}

        <!-- HEADER -->

        <header id="header">
            <div class="container" style="padding-top:70px; margin-top: 4%;">
                <div class="row justify-content-center" id="edge">
                    <h1 class="sizedPageTitle bigTitle">MIS SORTEOS</h1>
                </div>
            </div>
        </header>

        <div class="container" style="padding-top:70px">
        <div class="row justify-content-center" id="edge">
            <a href="https://www.opositatest.com/"></a>
        </div>
        <div class="row text-center justify-content-center">
            <h1 class="sizedPageTitle"><b>HAS PARTICIPADO EN {{ sorteos|length }} SORTEO(S)</b></h1>
        </div>
        <hr style="background-color: black; margin-bottom: 5%">
        {% for sorteo in sorteos | reverse %}
            <div class="row">
                <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                    <div class="list-group">
                        <button type="button" class="list-group-item-action text-dark text-center bg-warning" disabled>SORTEO: {{ sorteo.id }}</button>
                        <button type="button" class="list-group-item-action" disabled>PREMIO: {{ sorteo.premio }}</button>
                        <button type="button" class="list-group-item-action" disabled>FECHA: {{ sorteo.fecha|date('d/M/Y') }}</button>
                        <button type="button" class="list-group-item-action" disabled>RESULTADO:
                            {% if not sorteo.ganador %}
                            PENDIENTE
                            {% elseif sorteo.ganador.id != usuario.id %}
                            PERDIDO
                            {% else %}
                            GANADO
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="container" style="padding-top:70px;">
            <div class="row text-center justify-content-center">
                <h3>¡REALIZA OTRA ENCUESTA PARA UNIRTE A MÁS SORTEOS!</h3>
            </div>
            <div class="row text -center justify-content-center" style="margin-top: 2%">
                <a href="/encuestas"><input type="button" class="btn btn-warning" value="Ver todas las encuestas"></a>
            </div>
        </div>
    {% endblock %}
{% block footer_tag %}style="margin-top:17%"{% endblock %}

{%  block javaScript %}
    <script src="{{ asset('js/main.js') }}"></script>
{#    <script src="{{ asset('js/encuesta.js') }}"></script>#}
    <script src="{{ asset('js/animateJS.js') }}"></script>
    <script>
        var encuesta = {{ encuesta|raw }};
            function mostrarEncuesta() {
                $("#top").hide().fadeIn(1000);
                $("#showBtn").attr("value", "Ocultar encuesta");
                $("#showBtn").attr("onclick", "ocultarEncuesta()");
                $("#showBtn").animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});
                // https://plugins.compzets.com/animatescroll/#
            }
            
            function ocultarEncuesta() {
                $("#top").fadeOut(1000);
                $("#showBtn").attr("value", "Mostrar encuesta");
                $("#showBtn").attr("onclick", "mostrarEncuesta()");
                $("#showBtn").animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});
            }
        </script>
    {% endblock %}